In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.utils import resample
from sklearn.tree import DecisionTreeClassifier #Import scikit-Tree For Decision Tree
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import classification_report,confusion_matrix #import Confusion Matrix

from IPython.display import Image  
from sklearn.externals.six import StringIO  
from sklearn.tree import export_graphviz
import pydot 
import time

D:\Users\sourc\Anaconda3\lib\site-packages\sklearn\externals\six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)

In [2]:
df = pd.read_csv("../data/processed/data_ready.csv",index_col=0)

In [3]:
X = df.drop("isFirstDown",1)   #Feature Matrix
y = df["isFirstDown"]          #Target Variable

In [4]:
df['isFirstDown'].value_counts()

0    22532
1     5979
Name: isFirstDown, dtype: int64

In [5]:
X

,X,Y,Orientation,Dir,PossessionTeamAbbrCode,HomeScoreBeforePlay,VisitorScoreBeforePlay,PlayerHeightInches,PlayerWeight,PlayerCollegeNameCode,VisitorTeamAbbrCode,Week,DefensiveEnds,DefensiveTackles
0,78.75,30.53,161.98,245.74,21,0,0,70,205,18,16,1,3,1
1,71.07,27.16,210.70,312.20,21,0,0,70,205,18,16,1,3,1
2,48.66,19.11,140.82,221.96,21,0,0,70,205,18,16,1,3,1
3,15.53,25.36,186.22,275.44,21,0,0,71,210,26,16,1,2,2
4,29.99,27.12,34.27,157.92,16,7,0,71,216,35,16,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28506,68.95,28.28,243.61,255.90,3,6,42,70,200,138,3,12,0,4
28507,69.11,26.19,249.98,263.67,3,6,42,70,200,138,3,12,0,3
28508,27.44,24.46,263.76,284.49,3,6,42,73,238,36,3,12,0,3
28509,78.46,28.40,274.83,262.25,3,6,45,70,200,138,3,12,0,4
28510,76.54,27.24,284.06,288.95,3,6,45,70,200,138,3,12,0,3

In [6]:
# Separate majority and minority classes
df_majority = df[df['isFirstDown']==0]
df_minority = df[df['isFirstDown']==1]
 
# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,                  # sample with replacement
                                 n_samples=len(df_majority),    # to match majority class
                                 random_state=123)              # reproducible results
 
# Combine majority class with upsampled minority class
df_upsampled = pd.concat([df_majority, df_minority_upsampled])
 
# Display new class counts
df_upsampled['isFirstDown'].value_counts()

1    22532
0    22532
Name: isFirstDown, dtype: int64

In [7]:
df_upsampled.to_csv("../data/processed/data_oversampled.csv")

In [8]:
# Separate majority and minority classes
df_majority = df[df['isFirstDown']==0]
df_minority = df[df['isFirstDown']==1]
 
# Downsample majority class
df_majority_downsampled = resample(df_majority, 
                                 replace=False,                # sample without replacement
                                 n_samples=len(df_minority),   # to match minority class
                                 random_state=123)             # reproducible results
 
# Combine minority class with downsampled majority class
df_downsampled = pd.concat([df_majority_downsampled, df_minority])
 
# Display new class counts
df_downsampled['isFirstDown'].value_counts()

1    5979
0    5979
Name: isFirstDown, dtype: int64

In [9]:
df_downsampled.to_csv("../data/processed/data_undersampled.csv")